html, body{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}

form{
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	position: absolute;
}

#site{
	background-color: #094D92;
}

.navbar{
	background-color: #094D92;
}

.titulo{
	text-align: center;
	font-family: 'Raleway', sans-serif;
}